[run]
skip_covered = True
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    *mu.py
    *ipython.py
    *idle.py
    *jupyter.py
    *console.py
    *theme/*
