[flake8]
max-line-length = 88
# see https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
ignore = E203, E266, E402, E501, W503
exclude =
    # No need to traverse our git directory
    .git/*,
    # There's no value in checking cache directories
    __pycache__,
    # documentation, to be ignored
    docs/*,
    # This contains our tests directory
    tests/*
